swagger: '2.0'
info:
  title: data-migration-api
  description: API to manage data operations through Cloud Functions
  version: '1.0.0'
host: 'us-central1.cloudfunctions.net'
schemes:
  - https
x-google-management:
  metrics:
    - name: "load-csv-request"
      displayName: "Load CSV quota"
      valueType: INT64
      metricKind: DELTA
    - name: "insert-record-request"
      displayName: "Insert new record quota"
      valueType: INT64
      metricKind: DELTA
  quota:
    limits:
      - name: "load-csv-limit"
        metric: "load-csv-request"
        unit: "1/min/{project}"
        values:
          STANDARD: 2
      - name: "insert-record-limit"
        metric: "insert-record-request"
        unit: "1/min/{project}"
        values:
          STANDARD: 2
paths:
  /load_csv:
    post:
      operationId: loadCSV
      summary: Load data from CSV files into BigQuery
      x-google-backend:
        address: https://us-central1-{{ PROJECT_ID }}.cloudfunctions.net/gc_csv_2_bq
      responses:
        '200':
          description: Data loaded successfully from CSV
      security:
        - api_key: []
      x-google-quota:
        metricCosts:
          "load-csv-request": 1
  /insert_data:
    post:
      operationId: insertData
      summary: Insert data into BigQuery tables
      x-google-backend:
        address: https://us-central1-{{ PROJECT_ID }}.cloudfunctions.net/append_data
      responses:
        '200':
          description: Data inserted successfully
      security:
        - api_key: []
      x-google-quota:
        metricCosts:
          "insert-record-request": 1
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "key"
    in: "query"